<ion-view title="CONTATO" id="page17">
    <ion-content padding="true" class="has-header">
        <h3 id="cONTATO-heading4" style="color:#000000;font-weight:600;text-align:center;">Fale Conosco</h3>
        <div>
            <p style="font-size:14px; color: blue">
                Utilize o formulário abaixo para entrar em contato com a nossa escola. Tire suas dúvidas, dê suas sugestões. Esperamos o seu contato.
            </p>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">NOME:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">EMAIL:</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Mensagem</span><textarea placeholder=""> </textarea>
            </label>
        </form>
        <button id="cONTATO-button5" class="button button-dark  button-block">Enviar</button>
    </ion-content>
</ion-view>